#root {
    -fx-background-image: url("/images/backgrounds/grass.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-opacity: 0.7;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.main-button {
    -fx-pref-width: 150px;
    -fx-pref-height: 70px;
}
